@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand: #0ea5a4; /* teal-ish */
  --accent: #fb923c; /* orange */
}

body{font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial}

/* small utility */
.container { max-width: 1100px; margin-left: auto; margin-right: auto; padding-left: 1rem; padding-right: 1rem }